<div class="container_small_card">
    <div class="desc_big_card">
        <div class="title_desc_big_card">
            <p>{{titCard}}</p>
        </div>
        <div class="detalhes_big_card">  
                <div class="autor">
                    <span>Autor</span>          
                    <p>{{author}}</p> 
                </div>
                <div class="dataPubli">
                    <span>Data</span>
                    <p>{{dataPubli}}</p>              
                </div>
        </div>
    </div>
    <div class="filter_big_card">
        <p>Filtro de pesquisa</p>
        <span>{{criterio}}</span>
    </div>
</div>
