<div class="menuBar">
    <app-menu-bar></app-menu-bar>
</div>

<div class="testdiv">
    
    <app-title title="Jornal Blog. Entrevistas e Design"></app-title>
    
    <div class="container_cards">
        <div class="container_big-card">
            <app-big-card></app-big-card>
        </div>
        <div class="container_small_cards">
            <app-small-card title="Titulo Card01"></app-small-card>
            <app-small-card title="Titulo Card02"></app-small-card>
            <app-small-card title="Titulo Card03"></app-small-card>
        </div>
    </div>
</div>

    <router-outlet></router-outlet>
    